<!DOCTYPE html>
<html class="uk-height-1-1">
    <head>
        <title></title>
        <link rel="stylesheet" href="static/awesome/css/uikit/uikit.min.css" />
        <link rel="stylesheet" href="static/awesome/css/awesome.css"/>
        <link rel="stylesheet" href="static/awesome/css/header.css"/>
        <script src="static/awesome/js/jquery-3.2.1.min.js"></script>
        <script src="static/awesome/js/uikit/uikit.min.js"></script>
        <script src="static/awesome/js/uikit/uikit-icons.min.js"></script>
        <script src="static/awesome/js/vue.min.js"></script>
        <script src="static/awesome/js/sha1.min.js"></script>
        <script src="static/awesome/js/sticky.min.js"></script>
    </head>
    <body class="uk-height-1-1">
        {% block bodycontent %}
        {% endblock %}
    </body>
</html>