<div id="header">
    <div id="stay-bar-field">
        <div id="stay-bar-content">这里可能需要写点什么内容</div>
    </div>

    <div id="navbar-field" >
        <div uk-grid>
            <div id="logo">
                <div uk-grid id="logo-clicker" style="cursor:pointer;">
                    <div id="logo-img"><img src="static/logo/logo.png"/></div>
                    <div id="logo-title">真心话大冒险</div>
                </div>
            </div>

            <div style="color:black; font-weight:bold; padding-top:20px; padding-left:10px;">
                <div uk-grid>
                    <div>重设密码</div>
                </div> 
            </div>

        </div>
    </div>

</div>

<script>
$('#logo-clicker').click(function(){
    return location.assign('/');
});
</script>