{% extends 'base.html' %}

{% block bodycontent %}
{% include 'signinsignupheader.html' %}

<div id="signinsignup" class="uk-flex uk-flex-center uk-width-1-1">
    <div>
        <div uk-grid>
            <div id="signup-field"> 
                <div class="signinsignup-title">建立一个新账户</div>
                <div style="height:10px;"></div>
                <div id="signup-form">
                    <input v-model="signup_nickname" class="uk-input signinsignup-input uk-form-small" type="text" placeholder="想个好听的昵称" name="nickname">
                    <input v-model="signup_password" class="uk-input signinsignup-input uk-form-small" type="password" placeholder="密码" name="signup-password">
                    <input v-model="signup_password2" class="uk-input signinsignup-input uk-form-small" type="password" placeholder="确认密码" name="signup-confirm-password">
                    <input v-model="signup_email" class="uk-input signinsignup-input uk-form-small" type="email" placeholder="电子邮箱" name="signup-email">
                    <button v-on:click="toSignup" class="uk-button uk-button-primary uk-button-small" id="signup-button">注册</button>
                </div>
            </div>

            <div id="signinup-middle-line"></div>

            <div id="signin-field">
                <div class="signinsignup-title">登入</div>
                <div style="height:10px;"></div>
                <div id="signin-form">
                    <input v-model="signin_email" class="uk-input signinsignup-input uk-form-small" type="email" placeholder="电子邮箱" name="signin-email">
                    <input v-model="signin_password" class="uk-input signinsignup-input uk-form-small" type="password" placeholder="密码" name="signin-password">
                    <button v-on:click="toSignin" class="uk-button uk-button-primary uk-button-small" id="signup-button">登录</button>
                </div>
            </div>
        </div>

        <div id="signinsignup-bottom-info">
            这里可以写点什么
        </div>

    </div>
</div>

<script>

    function validateEmail(email) {
        var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
        return re.test(email.toLowerCase());
    }

    var signup = new Vue({
        el:'#signup-form',
        data:{
            signup_nickname:'',
            signup_email:'',
            signup_password:'',
            signup_password2:'',
        },
        methods:{
            toSignup:function(){
                if(!this.signup_nickname.trim()){
                    UIkit.notification('<span style="font-size:14px;">加入前先想一个昵称吧' + '</span>', {status:'danger',timeout:'2000'});
                    return;
                }

                if(!validateEmail(this.signup_email.trim().toLowerCase())){
                    UIkit.notification('<span style="font-size:14px;">请输入正确的Email' + '</span>', {status:'danger',timeout:'2000'});
                    return;
                }

                if(this.signup_password.length < 6){
                    UIkit.notification('<span style="font-size:14px;">密码长度至少是6个字符' + '</span>', {status:'danger',timeout:'2000'});
                    return;
                }

                if(this.signup_password !== this.signup_password2){
                    UIkit.notification('<span style="font-size:14px;">两次输入的密码不一样噢' + '</span>', {status:'danger',timeout:'2000'});
                    return;
                }

                $.post('/api/users',{
                    nickname:this.signup_nickname,
                    email:this.signup_email,
                    //password:this.signup_password
                    password: CryptoJS.SHA1(this.signup_email + ':' + this.signup_password).toString()
                }, function(data,r){
                    if(data){
                        if(data['result'] < 0){
                            UIkit.notification('<span style="font-size:14px;">注册失败: ' + data['msg'] + '</span>', {status:'danger',timeout:'2000'});
                        }
                        else{
                            return location.assign('/');
                        }
                    }
                    else{
                        return location.assign('/');
                    }
                });
            }
        }
    });
    
    
    var signin = new Vue({
        el:'#signin-form',
        data:{
            signin_email:'',
            signin_password:''
        },
        methods:{
            toSignin:function(){

                if(!validateEmail(this.signin_email.trim().toLowerCase())){
                    UIkit.notification('<span style="font-size:14px;">请输入正确的Email' + '</span>', {status:'danger',timeout:'2000'});
                    return;
                }

                if(this.signin_password.length < 6){
                    UIkit.notification('<span style="font-size:14px;">请输入正确的密码' + '</span>', {status:'danger',timeout:'2000'});
                    return;
                }

                $.post('/api/signin',{
                    email:this.signin_email,
                    passwd: CryptoJS.SHA1(this.signin_email + ':' + this.signin_password).toString()
                }, function(data,r){
                    if(data){
                        if(data['result'] < 0){
                            UIkit.notification('<span style="font-size:14px;">登录失败: ' + data['msg'] + '</span>', {status:'danger',timeout:'2000'});
                        }
                        else{
                            //alert(data['msg'])
                            return location.assign('/');
                        }
                    }
                    else{
                        return location.assign('/')
                    }
                });
            }
        }
    });

</script>


{% endblock %}